{% ckan_extends %}

{# You could remove 'free extras' from the package form like this, but we keep them for this example's tests. #}
{% block custom_fields %}
{% endblock %}

{% block package_metadata_fields %}
<div class="form-group">
  <label class="control-label" for="field-capability">{{ _("Custom written Capabilities") }}</label>
  <div class="controls row">
    data.get('tags', [])<br />
    {{ data.get('tags') }}
    data
    {{ data }}
    <p></p>
    ------------------
    capabilities_selected
    {{data.get('capabilities_selected')}}
    <p></p>
    ------------------
    what
    {{data.get('capabilities_what')}}
    <p></p>
    ------------------
    c.vocab_info
    {{c.vocab_info}}
    <p></p>
    ------------------
    c.selected
    {{c.selected}}
    <p></p>
    ------------------

    {% for capability in h.capabilities() %}
    <label class="checkbox">
      <input type="checkbox" name="capabilities" id="capabilities" value="{{ capability }}" {{ 'checked' if capability
        in data.get('capabilities_what') else '' }} />
      {{ capability }}
    </label>
    {% endfor %}
  </div>
</div>

{{ super() }}

{% endblock %}